body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

table {
    display: table;
    position: absolute;
    border-collapse: collapse;
    table-layout: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    font-family: Consolas;
    white-space: pre;
}

td {
    padding: 0.5em;
    vertical-align: top;
    text-align: left;
    overflow: hidden;
}

td:first-child {
    width: 15%;
}
